@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .normal {
        @apply bg-yellow-100;
        @apply text-black;
        @apply border-black;
    }

    #root,
    body,
    html {
        @apply h-full;
        @apply w-full;
        @apply normal;
    }

    body {
        @apply m-0;
        @apply antialiased;
        @apply font-sans
    }

    #root {
        @apply flex;
        @apply justify-center;
    }

    .container {
        @apply: flex;
        @apply: flex-col;
        @apply: sm:w-screen;
        @apply: md:w-[600px];
        @apply: lg:w-[80vw];
        @apply: w-[1120px];
        @apply: sm:text-sm;
    }

    .header {
        @apply: flex;
        @apply: flex-row;
        @apply: flex-wrap;
        @apply: sm:justify-between;
    }

    .content {
        @apply: flex;
        @apply: flex-col;
        @apply: flex-wrap;
        @apply: sm:justify-between;
    }
}